<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Le calendrier 2021</h2>
                <!-- <h3 class="section-subheading text-muted">Inscriptions auprès du président : <b>06 89 25 08 95</b></h3> -->
                <h3 class="section-subheading" style="margin-top:3em; font-size:1.6em;"><b>En raison de l'épidémie de Coronavirus, la totalité des activitées peuvent être modifiées ou annulées suivant la situation sanitaire. Merci de votre compréhension.</b></h3>
            </div>
        </div>
             <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/taille01.jpg" alt="Atelier de taille - 3">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>20 février 2021</h4>
                                <h4 class="subheading">Cours de taille sur fruitier pour les membres de l'AALE</h4>
                            </div>
                            <div class="timeline-body">
                                    <p class="text-muted">13h15 au verger-école, à Lichtenberg</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/taille02.jpg" alt="Atelier de taille - 3">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>6 mars 2021</h4>
                                <h4 class="subheading">Cours de taille sur fruitier pour les membres de l'AALE</h4>
                            </div>
                            <div class="timeline-body">
                                    <p class="text-muted">13h15 au verger-école, à Lichtenberg</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/medievales.jpg" alt="Médiévales">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>01 mai 2020</h4>
                                <h4 class="subheading">Médiévales du Château de Lichtenberg</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Dans le cadre de la Journée de la Route des Châteaux-forts, repas médiéval organisé par L'A.A.L.E. au Château de Lichtenberg. </p>
                            </div>
                        </div>
                    </li>
                   
                   
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/taille03.jpg" alt="Taille au vert">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>10 juillet 2021</h4>
                                <h4 class="subheading">Cours de taille au vert sur cerisier pour les membres de l'AALE</h4>
                            </div>
                            <div class="timeline-body">
                                    <p class="text-muted">Lieu et horaire à préciser</p>
                            </div>
                        </div>
                    </li>
                   
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/harengs.jpg" alt="Haeriowe">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>21 août 2020</h4>
                                <h4 class="subheading">Soirée harengs (Messti de Lichtenberg)</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Manifestation à confirmer en fonction de la situation sanitaire.</p>
                            </div>
                        </div>
                    </li>                   
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/fete_pomme.jpg" alt="Fête de la pomme">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Date à préciser</h4>
                                <h4 class="subheading">Fête de la pomme et du jus de pomme</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Manifestation à confirmer en fonction de la situation sanitaire.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/ag.jpg" alt="Assemblée générale 2018">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Date à préciser</h4>
                                <h4 class="subheading">Assemblée générale annuelle</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Les modalités de l'AG seront fixées en fonction de la situation sanitaire</p>
                            </div>
                        </div>
                    </li>
                     
                    
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Plantez
                                <br>vos
                                <br>Arbres !</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
